venv/

*.pyc
*.pyo
pycache/
*.so

.vscode/
.postgres/
/backend/alembic/
/backend/alembic/*
*.log

.env
*.ini
*.conf
*.yaml
*.yml

*.pyc
*.class

.DS_Store

/.idea
/.vscode

# dependencies
/frontend/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/frontend/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
backend/alembic/versions/5ac7edbd71de_add_anime0002.py
backend/uploads/avatars/59d0c777-b6c5-406b-98ca-58e8b43ba217.png
backend/uploads/avatars/5a3b0aa0-96fc-4b4c-a3cc-3f2e3b139700.png
backend/uploads/avatars/59d0c777-b6c5-406b-98ca-58e8b43ba217.png
backend/uploads/avatars/5a3b0aa0-96fc-4b4c-a3cc-3f2e3b139700.png

# new-front
new-front/node_modules/
new-front/.next/
new-front/out/
new-front/dist/
new-front/build/
new-front/.cache/

# Логи
new-front/logs/
new-front/*.log
new-front/npm-debug.log*
new-front/pnpm-debug.log*
new-front/lerna-debug.log*

# Файлы окружения
new-front/.env*
!new-front/.env.example
new-front/package.json

# Файлы IDE/редакторов
new-front/.vscode/
new-front/.idea/

# Временные файлы TypeScript
new-front/*.tsbuildinfo

# Конфигурационные файлы сборки
new-front/postcss.config.mjs
new-front/tailwind.config.js